{% extends "layout.html" %}
{% block content %}
    <h1>
        ファイルをアップロードして判定しよう
    </h1>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
             <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->
    <form action="{{ url_for('upload') }}" method = post enctype = multipart/form-data>
        <select name="names">
            {% for name in names %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <p><input type="file" name="image" accept="image/png, image/jpeg, image/jpg"></p>
        <input type = submit value = Upload>
    </form>
    <!-- <div>
        <img src="{{ img_url }}" alt="">
    </div> -->

    {% if data %}
        {% for path,es in data %}
            <div>
            <img src="images/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
            {{ es }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}